


.css-117w1su-MuiStepIcon-text {
    fill: #F5F5F5 !important;
  }
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
    color: #ffca3c !important;
  }
  
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
    color: #11c4e0 !important;
  }
  .main_div {
    width: 1100px !important;
  }
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #ffca3c !important;
  }
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root{
    color: #11c4e0 !important;
  }
  span.MuiStepLabel-label.Mui-active.MuiStepLabel-alternativeLabel.css-1hv8oq8-MuiStepLabel-label {
    color: #ffca3c;
    text-align: left;
  }
  span.MuiStepLabel-label.Mui-disabled.MuiStepLabel-alternativeLabel.css-1hv8oq8-MuiStepLabel-label{
    color: #ffca3c;
  }
  .css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel{
    color: #F5F5F5 !important;
  }
  span.MuiStepConnector-line.MuiStepConnector-lineVertical.css-8t49rw-MuiStepConnector-line {
    display: none;
  }
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
    color: rgb(255 202 60);
  }
  .css-11yttz-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    border: 2px solid #ffca3c;
    color: rgb(255 255 255);
}
